{%extends 'base.html'%}
{%load static%}

{%block content%}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

<div class="container">
  <!-- <span class="big-circle"></span> -->
  <img src="img/shape.png" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 class="title">Let's get in touch</h3>
      <p class="text">
        We'd love to hear from you! Whether you have questions, feedback, or just want to say hello, feel free to reach
        out to us using the form. 
      </p>

      <div class="info">
        <div class="information">
          <i class="fas fa-map-marker-alt icon"></i>
          <a href="">Pokhara Ranipauwa</a>

        </div>
        <div class="information">
          <i class="fas fa-envelope icon"></i>
          <a href="mailto:info@fitjourney.com">fitjourney.info@gmail.com </a>
        </div>
        <div class="information">
          <i class="fas fa-phone icon"></i>
          <a href="tel:9800000000">9800000000</a>
        </div>
      </div>


      <div class="social-media">
        <p>Connect with us :</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <!-- <span class="circle one"></span>
          <span class="circle two"></span>
 -->
      <form action="index.html" autocomplete="off">
        <h3 class="title">Contact us</h3>
        <div class="input-container">
          <input type="text" name="name" class="input" />
          <label for="">Username</label>
          <span>Username</span>
        </div>
        <div class="input-container">
          <input type="email" name="email" class="input" />
          <label for="">Email</label>
          <span>Email</span>
        </div>
        <div class="input-container">
          <input type="tel" name="phone" class="input" />
          <label for="">Phone</label>
          <span>Phone</span>
        </div>
        <div class="input-container textarea">
          <textarea name="message" class="input"></textarea>
          <label for="">Message</label>
          <span>Message</span>
        </div>
        <input type="submit" value="Send" class="button" />
      </form>
    </div>
  </div>
</div>




<script src="{%static 'js/contact.js'%}"></script>
<script src="{% static 'js/afterlogin.js' %}"></script>
{% endblock %}