
                                <!-- {% if user.is_authenticated %}
                        <div class="profile-dropdown animate-navbar-js">
                            <div onclick="toggle()" class="profile-dropdown-btn">
                                <img src="{%static 'img/profile.jpg'%}" alt="">
                            </div>
                            <ul class="profile-dropdown-list">
                                <li>
                                    <p>
                                        <span class="block bold">{{user.username}}</span>
                                    </p>
                                </li>
                                <li class="profile-dropdown-list-item">
                                    <a href="useraccount.html">
                                        <i class="fa-regular fa-user"></i>
                                        Edit Profile
                                    </a>
                                </li>
                                <li class="profile-dropdown-list-item">
                                    <a href="#">
                                        <i class="fa-regular fa-envelope"></i>
                                        Inbox
                                    </a>
                                </li>
                                <li class="profile-dropdown-list-item">
                                    <a href="#">
                                        <i class="fa-solid fa-chart-line"></i>
                                        Analytics
                                    </a>
                                </li>
                                <li class="profile-dropdown-list-item">
                                    <a href="#">
                                        <i class="fa-solid fa-sliders"></i>
                                        Settings
                                    </a>
                                </li>
                                <li class="profile-dropdown-list-item">
                                    <a href="#">
                                        <i class="fa-regular fa-circle-question"></i>
                                        Help & Support
                                    </a>
                                </li>
                                <hr />
                                <li class="profile-dropdown-list-item">
                                    <a href="{% url 'logout_view'%}">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                     {% else %}
                        <h4 id="signup-link"><a href="{%url 'register'%}">
                            <i class="fa-solid fa-user-plus"></i>Sign up</a></h4>
                    </div>
                    {% endif %} -->