* {
    font-family: "Poppins", sans-serif;
  }
  
  
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    background-color: rgb(0, 0, 0); /* Set the background color to black */
  }
  
  .about-heading{
  
    padding-top: 5%;
  }

  
  .text-blk {
    margin: 0;
    padding: 5px;
    line-height: 20px;
    color: white; /* Set the text color to white for contrast */
  }
  
  .responsive-container-block.bigContainer {
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .mainImg {
    color: black;
    width: 40%; /* Make the image smaller */
    height: auto;
    box-shadow: rgba(243, 235, 235, 0.05) 0px 5px 10px 7px;
    border-radius: 15px; /* Make the border more rounded */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(-50px);
    opacity: 0;
  }
  
  .text-blk.headingText {
    font-size: 18px; /* Make the text smaller */
    font-weight: 700;
    line-height: 24px;
    color: rgb(0, 255, 0); /* Use a bright color for headings */
    padding: 0 5px;
    margin: 0 0 10px 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(20px);
    opacity: 0;
  }
  
  .allText {
    padding: 0;
    margin: 0;
    width: 40%;
  }
  
  .text-blk.subHeadingText {
    color: rgb(200, 200, 200); /* Light gray for subheadings */
    font-size: 16px; /* Make the text smaller */
    line-height: 22px;
    font-weight: 700;
    padding: 0 5px;
    margin: 0 0 10px 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(20px);
    opacity: 0;
  }
  
  .text-blk.description {
    font-size: 16px; /* Make the text smaller */
    line-height: 22px;
    color: rgb(200, 200, 200); /* Light gray for description */
    margin: 0;
    padding: 0 5px 20 5px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(20px);
    opacity: 0;
  }
  
  .explore {
  
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(244, 152, 146);
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .explore:hover {
    background-color: rgb(255, 235, 234);
    color: rgb(244, 152, 146);
  }
  
  .responsive-container-block.Container {
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 70vh; /* Full height for each container */
  }
  
  .responsive-container-block.Container.active {
    gap: 20px;
    opacity: 1;
  }
  
  .responsive-container-block.Container.bottomContainer {
    margin: 80px auto 50px auto;
    flex-direction: row-reverse;
  }
  
  .allText.aboveText {
    margin: 0;
  }
  
  .allText.bottomText {
    margin: 0;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
        max-width: 850px;
    }
  
    .mainImg {
        width: 45%;
        height: auto;
    }
  
    .text-blk.description {
        font-size: 14px;
    }
  
    .allText {
        width: 40%;
        margin-left: 10px;
    }
  
    .text-blk.subHeadingText {
        font-size: 14px;
    }
  
    .responsive-container-block.Container.bottomContainer {
        margin: 60px auto 50px auto;
    }
  
    .allText.aboveText {
        margin: 20px 0 0 10px;
    }
  
    .allText.bottomText {
        margin: 20px 10px 0 0;
    }
  }
  
  @media (max-width: 768px) {
    .mainImg {
        width: 80%;
    }
  
    .allText {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
  
    .responsive-container-block.Container {
        flex-direction: column;
        height: auto;
    }
  
    .text-blk.headingText,
    .text-blk.subHeadingText,
    .text-blk.description {
        text-align: center;
        font-size: 16px;
    }
  
    .allText {
        margin-top: 20px;
    }
  
    .allText.aboveText {
        margin: 30px 0 0 0;
    }
  
    .responsive-container-block.Container {
        margin: 60px auto 50px auto;
    }
  
    .responsive-container-block.Container.bottomContainer {
        margin: 50px auto 50px auto;
    }
  
    .allText.bottomText {
        margin: 30px 0 0 0;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.Container {
        padding: 10px 0;
        width: 100%;
        max-width: 100%;
    }
  
    .mainImg {
        width: 100%;
    }
  
    .responsive-container-block.bigContainer {
        padding: 10px 20px;
    }
  
    .text-blk.subHeadingText,
    .text-blk.description {
        font-size: 14px;
        padding: 0;
    }
  
    .allText {
        padding: 0;
        width: 100%;
    }
  }
  
  .responsive-container-block.Container.active .mainImg,
  .responsive-container-block.Container.active .text-blk {
    transform: translateX(0);
    opacity: 1;
  }
  