/* Base styles */
body {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    padding: 2rem;
}

.wrapper {
    background: none; 
}

.content {
    width: 100%;
    max-width: 400px;
    padding: 3rem;
    background: #ffffff;
    color: black;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: auto;
    transition: box-shadow 0.3s, transform 0.3s;
}

.content:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3); /* Adjust shadow on hover */
    transform: translateY(-5px); /* Optional: Lift card slightly on hover */
}

.form-block {
    text-align: center;
}

.form-block h3 {
    color: #000000;
    margin-bottom: 1.5rem;
}

.form-block label {
    color: #000000;
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    background: #ffffff;
    border: 1px solid #444;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.btn-primary {
    width: 100%; /* Full width by default */
    max-width: 200px; /* Limit maximum width */
    padding: 0.75rem; /* Adjusted padding */
    background: #0c9c2b;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-primary:hover {
    background: #0b700b;
}

.forgot-pass {
    color: #999;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
}

.forgot-pass:hover {
    color: #ccc;
}

.register-link {
    margin-top: 20px;
    color: #303030;
    text-decoration: none;
}

.register-link:hover {
    color: #000000;
}

.option-choose {
    margin-top: 20px;
}

.option-choose span a {
    padding-left: 5px;
    text-decoration: underline;
}


/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .content {
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    .btn-primary {
        width: 100%; /* Full width on smaller screens */
        max-width: 100%; /* Ensure button adjusts to container width */
        padding: 0.5rem; /* Reduced padding for smaller button size */
    }
}
