<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitJourney- Create profile</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/create_user.css' %}">
</head>

<body>
    <div class="container">
        <h1>Create your Profile</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group profile-picture">
            <input type="file" id="id_profile_picture" name="profile_picture" accept="image/*" onchange="previewImage(event)" style="display: none;">
            <label for="id_profile_picture" class="profile-picture-label">
              <img id="profilePreview" src="{%if member_form.instance.profile_picture %}{{member_form.instance.profile_picture.url }}{% else %}{% static 'img/default_profile.png' %}{% endif %}" alt="Profile Picture" class="profile-pic">
              <div class="overlay">
                <img src="{% static 'img/camera.png' %}" alt="Camera Icon" class="camera-icon">
              </div>
            </label>
          </div>
          <h1 class="img-title">Profile picture</h1>
            <div class="form-section-wrapper">
                <div class="section">
                    <!-- Personal Details Section -->
                    <h2>Personal Details</h2>
                    <div class="form-group">
                        {{member_form.non_field_errors }}
                    </div>
                    <div class="form-group">
                        <label for="id_name">Name:</label>
                        {{ member_form.name }}
                    </div>
                    <div class="form-group">
                        <label for="id_biography">Phone:</label>
                        {{member_form.phone }}
                    </div>

                    <div class="form-group">
                        <label for="id_biography">Date of Birth:</label>
                        {{member_form.DOB }}
                    </div>

                    <div class="form-group">
                        <label for="id_biography">Occupation:</label>
                        {{member_form.occupation }}
                    </div>
                    <div class="form-group">
                        <label for="id_contact_phone">Address:</label>
                        {{member_form.address }}
                    </div>
                    <div class="form-group">
                        <label for="id_contact_phone">Email:</label>
                        {{member_form.email }}
                    </div>
                </div>

            <!-- Submit Button -->
            <div class="form-group full-width">
                <button type="submit" class="btn">Create</button>
            </div>

            <!-- Error Message -->
            {% if error %}
            <div class="form-error">
                <p>{{ error }}</p>
            </div>
            {% endif %}
        </form>
    </div>

    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('profilePreview');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>

</html>